.Container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;


}

.Square {
  display: flex;
  border: 1px solid;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.board-row {
  width: 100%;
}